@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Set the primary color variable */
:root {
  --primary-color: #8B3DFF;
}

/* Apply styles to the entire website */
html, body {
  font-family: 'Poppins', sans-serif; /* Use Poppins as the primary font */
  color: var(--primary-color); /* Set primary text color */
}